@page
@model web315.Pages_TarotDecks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TarotCards</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TarotCards.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TarotCards.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TarotCards.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TarotCards.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TarotCards.Theme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TarotCards.Theme)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TarotCards.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TarotCards.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TarotCards.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
